In [85]:
import json
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import math
import imp
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float 

# Create Dog and Cat Classes
# ----------------------------------

In [86]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.exc import DisconnectionError

Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float

# Creates Classes which will serve as the anchor points for our Tables
class Station(Base):
    __tablename__ = 'Stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(100))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
class Measurement(Base):
    __tablename__ = 'Measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

# Create Database Connection
# ----------------------------------
# Establish Connection to MySQL
try:
    engine = create_engine('mysql://krpgzj1i2w7kvsrc:bpvb22yexgoohvqu@lgg2gx1ha7yp2w0k.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/ufa78vp7mh7q2ohz')    
    conn = engine.connect()
    Base.metadata.create_all(conn)
except DisconnectionError:
    print("Unable to create_all")

In [87]:
from sqlalchemy.orm import Session
session = Session(bind=engine)
# Perform a simple query of the database
station_list = session.query(Station)
print("There")
for station in station_list:
    print("Here")
    print(station.name)

    
# Print all Stations in the database
measurement_list = session.query(Measurement)

There
Here
WAIKIKI 717.2, HI US
Here
KANEOHE 838.1, HI US
Here
KUALOA RANCH HEADQUARTERS 886.9, HI US
Here
PEARL CITY, HI US
Here
UPPER WAHIAWA 874.3, HI US
Here
WAIMANALO EXPERIMENTAL FARM, HI US
Here
WAIHEE 837.5, HI US
Here
HONOLULU OBSERVATORY 702.2, HI US
Here
MANOA LYON ARBO 785.2, HI US

In [88]:
for station in station_list:
    print("Here")
    print(station.name)

Here
WAIKIKI 717.2, HI US
Here
KANEOHE 838.1, HI US
Here
KUALOA RANCH HEADQUARTERS 886.9, HI US
Here
PEARL CITY, HI US
Here
UPPER WAHIAWA 874.3, HI US
Here
WAIMANALO EXPERIMENTAL FARM, HI US
Here
WAIHEE 837.5, HI US
Here
HONOLULU OBSERVATORY 702.2, HI US
Here
MANOA LYON ARBO 785.2, HI US

In [105]:
#esign a query to retrieve the last 12 months of precipitation data
#Select only the `date` and `prcp` values
measure_last_12_months = session.query(Measurement).filter(Measurement.date > '2016-09-01').count()
print(str(measure_last_12_months) + " Measurements in the last 12 months")
measure_last_12_months = session.query(Measurement).filter(Measurement.date > '2016-09-01')

1963 Measurements in the last 12 months

In [106]:
#Load into a Dataframe
df = pd.read_sql(measure_last_12_months.statement, measure_last_12_months.session.bind)

In [107]:
df.head()

     id      station        date  prcp  tobs
0  2337  USC00519397  2016-09-02  0.00    80
1  2338  USC00519397  2016-09-03  0.00    79
2  2339  USC00519397  2016-09-04  0.03    75
3  2340  USC00519397  2016-09-07  0.05    76
4  2341  USC00519397  2016-09-08  0.00    80

In [8]:
# Design a query to calculate the total number of stations.
num_stations = session.query(Station).count()
print("Total no of stations - "+str(num_stations))

Total no of stations - 9

In [14]:
# Design a query to find the most active stations.
from sqlalchemy import func
#session.query(Table.column, func.count(Table.column)).group_by(Table.column).all()

active_stations = session.query(Measurement.station, func.count(Measurement.station)).group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()

In [15]:
#Filter by the station with the highest number of observations**
print( active_stations)

[('USC00519281', 2772), ('USC00513117', 2696), ('USC00519397', 2685), ('USC00519523', 2572), ('USC00516128', 2484), ('USC00514830', 1937), ('USC00511918', 1932), ('USC00517948', 683), ('USC00518838', 342)]

In [32]:
import datetime
def valid_date(datestring):
    try:
        datetime.datetime.strptime(datestring, '%Y-%m-%d')
        return True
    except ValueError:
        return False

In [62]:
from sqlalchemy import and_, or_, not_

tmp_min = session.query(func.min(Measurement.tobs)).filter(and_(Measurement.date > '2017-03-05', Measurement.date < '2017-03-15')).first()
tmp_max = session.query(func.max(Measurement.tobs)).filter(and_(Measurement.date > '2017-03-05', Measurement.date < '2017-03-15')).first()
tmp_avg = session.query(func.avg(Measurement.tobs)).filter(and_(Measurement.date > '2017-03-05', Measurement.date < '2017-03-15')).first()

In [72]:
import datetime
from sqlalchemy import and_, or_, not_


def temp_stats(start_date, fin_date):
    #Write a function called `calc_temps` that will accept a start date and end date in the 
    #format `%Y-%m-%d` and return the minimum, average, and maximum temperatures for that range of dates
    print("Start Date:"+start_date)
    print("Finish Date:"+fin_date)
    max = 0
    min = 0
    avg = 0
    ret_ = (max, min, avg)
    if ( valid_date(start_date) == True):
        print("Valid Start Date")
    else:
        print("Invalid Start Date:"+start_date)
        return ret_
    if ( valid_date(fin_date) == True):
        print("Valid Finish Date")
    else:
        print("Invalid Finish Date:"+fin_date)
        return ret_
   
    tmp_min = session.query(func.min(Measurement.tobs)).filter(and_(Measurement.date > start_date, Measurement.date < fin_date)).first()
    tmp_max = session.query(func.max(Measurement.tobs)).filter(and_(Measurement.date > start_date, Measurement.date < fin_date)).first()
    tmp_avg = session.query(func.avg(Measurement.tobs)).filter(and_(Measurement.date > start_date, Measurement.date < fin_date)).first()
   
    ret_ = ( str(tmp_min[0])), str(tmp_max[0]), str(tmp_avg[0])
    return ret_

In [73]:
#Use the `calc_temps` function to calculate the min, avg, and max temperatures for your trip using the 
#matching dates from the previous year (i.e. use "2017-01-01" if your trip start date was "2018-01-01")
# ENter your Travel Dates:Wish I had such a long vacation !

tmp = temp_stats('2017-01-03', '2017-02-03')
print("Temparture Analysis during stay:")
print("Min Temp: "+str(tmp[0]))
print("Max Temp: "+str(tmp[1]))
print("Avg Temp: "+str(tmp[2]))

Start Date:2017-01-03
Finish Date:2017-02-03
Valid Start Date
Valid Finish Date
Temparture Analysis during stay:
Min Temp: 59
Max Temp: 80
Avg Temp: 69.2781